.story-section {
    padding: 3em 0;
    .total-comments-count {
        display: inline-block;
        text-align: center;
        width: 24px;
        height: 16px;
        font-size: 80%;
        color: $white;
        border-radius: 50%;
        background: $brand-color;

        &:after {
            content: "";
            display: block;
            position: relative;
            bottom: 4px;
            width: 0;
            border-width: 6px 3px 0;
            border-style: solid;
            border-color: $brand-color transparent;
            @include transform(rotate(45deg));
        }
    }

    .paragraph {
        margin-bottom: 2em;
    }

    .sentence {
        cursor: pointer;
        display: inline;

        &:hover {
            background-color: $white;
        }

        &.highlight {
            background-color: $white;
            position: relative;
            z-index: 100;
        }
    }

    .highlight {
        +.comments-contanier {
            display: block;
        }
    }

    .tags {
        margin-bottom: .5em;
        display: inline-block;
    }

    .tag {
        background-color: $brand-color;
        color: $white;
        padding: .25em .75em;
        display: inline-block;
        font-size: .875em;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 300;
    }

    .comments-contanier {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 100;
        display: none;
        max-width: 1100px;
        margin: 0 auto;
        padding: 1em;
    }

    .user-img {
        width: 3em;
        height: 3em;
        border-radius: 50%;
        vertical-align: middle;
        float: left;
        margin: 0 1em 1em 0;
    }

    .write-comments,
    .display-comments {
        background-color: $white;
        border-radius: 4px;
        padding: 1em;
        margin-bottom: .5em;
    }

    .write-comments {
        .user-img {
            float: left;
        }

        .post-comment {
            display: inline-block;
            width: 100%;
            margin: 1em 0;

            .form-control {
                float: right;
                width: calc(100% - 6em);
            }
        }
    }

    .display-comments {
        .comment {
            display: block;
            margin: .5em 0;
        }

        .user-details {
            display: inline-block;
            width: 100%;
            margin: .5em 0;

            .content {
                float: left;
                overflow: hidden;
            }
        }



        .user-name {
            font-weight: bold;
            display: block;
        }

    }

    .respect-link {
        text-transform: uppercase;
        font-weight: bold;
    }



    .tag-contanier {
        .tag-name-title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: .875em;
            padding: .5em 0;
        }

        .tag-box {
            width: 24%;
            display: inline-block;
            margin: .5em 0;
            vertical-align: top;
        }

        .tag-name {
            font-size: .875em;
            padding: .25em 0;
        }
    }

    .select-tag-link {
        text-transform: uppercase;
        font-size: .875em;
        font-weight: bold;
        margin-bottom: 1em;
    }

    .select-tag {
        padding: 1em;
    }

    .comment-box {
        padding: 0 1em;
    }

}

.comments-overlay {
    background-color: $black;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 99;

    &.open {
        visibility: visible;
        opacity: .3;
    }

}

.select-tag-link {
    display: none;
}
.comments-page {
    .banner-img {
        height: 200px;
    }
    .banner-title {
        font-size: 2em;
        max-width: 100%;
    }
}
@media(max-width: 875px) {
    .story-section {

        .tag-contanier {

            .tag-box {
                width: 48%;
            }

        }
    }
}

@media(max-width: 767px) {
    .story-section {

        .select-tag-link {
            display: inline-block;
            margin: 1em 0;
            position: relative;

            &:after {
                content: '\f107';
                font-family: 'FontAwesome';
                font-size: 1.4em;
                vertical-align: middle;
                padding-left: 8px;

            }
        }

        .select-tag {
            display: none;
            &.open {
                display: block;
            }
        }
    }
}

@media(max-width: 540px) {
    .story-section {

        .tag-contanier {

            .tag-box {
                width: 100%;
            }

        }
    }
}
