.form-control {
    width: 100%;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .3);
}

textarea {
    resize: none;
    min-height: 80px;
    font-family: $font-family;
}

.custom-input {
    position: relative;

    input:checked,
    input:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    label {
        padding-left: 30px;

        &:before,
        &:after {
            font-family: 'FontAwesome';
            font-size: 18px;
            position: absolute;
            top: 50%;
            left: 0;
            cursor: pointer;
            margin-top: -9px;
        }

        &:before {
            content: '';
            width: 20px;
            height: 20px;
            border: 2px solid $brand-color;
            display: block;
            border-radius: .2rem;
        }

        &:after {
            content: '\f00c';
            max-width: 0;
            overflow: hidden;
            opacity: .5;
            @include transition(.35s all linear);
            margin-top: -8px;
            margin-left: 1px;
            line-height: 1;
        }
    }

    input:checked+label:after {
        max-width: 40px;
        opacity: 1;
        color: $brand-color;
    }
}
