.contanier {
    max-width: $container-large;
    margin: 0 auto;
    padding: 1rem;
}

.contanier-md {
    max-width: $container-medium;
}
.contanier-sm {
    max-width: $container-small;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.d-inline-block {
    display: inline-block;
}
.d-block {
    display: block;
}
.d-none {
    display: none;
}
.w-100 {
    width: 100%;
}
