// COLOR VARS
// ==============================
$white: #fff;
$black: #000;
$brand-color: #e91c24;
$body-color: #606060;
$body-bg: #f2f2f2;

$dark-gray: #222;
$dark-gray-1: #434343;

$gray: #5c5c5c;
$gray-1: #707070;
$gray-2: #6c6c6c;

$light-gray: #7e7e7e;
$light-gray-1: #b1b1b1;
$light-gray-2: #e0e0e0;
$light-gray-3: #cfcfcf;

$grayish-shade: #ececec;
$dark-grayish-shade: #dedede;
$off-white: #f6f6f6;

// BREAKPOINT VARS
// ==============================

$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 999px;
$bp-xlarge: 1440px;

// CONTAINER SIZE
// ==============================

$container-large: 1770px;
$container-medium: 1280px;
$container-small: 900px;
$container-xs: 767px;
